body {
  background-color: #dcf0fa;
}

.headerMenu {
  background-color: var(--page-header-bgColor);
}

.alert {
  background-color: var(--page-paragraph-txtColor);
  color: #ffffff;
  width: 325px;
  position: fixed;
  padding: 20px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 11pt;
  top: 12%;
  font-family: monospace;
  left: 70%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  opacity: 1;
  align-content: center;
  border-left: 10px solid var(--page-sideSelectedMenu-active);
}

.disappear {
  opacity: 0.5;
  transition: 10s ease-out;
  background-color: var(--page-paragraph-txtColor);
  color: #ffffff;
  width: 325px;
  position: fixed;
  padding: 20px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 11pt;
  top: 12%;
  font-family: monospace;
  left: 70%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  align-content: center;
  border-left: 10px solid var(--page-sideSelectedMenu-active);
}

.alert.show {
  animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-10%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}

.alert .close {
  cursor: pointer;
  font-weight: 600;
  padding: 3px;
  position: absolute;
  font-family: 12pt;
  z-index: 4;
  top: 28%;
  left: 85%;
  width: 25px;
  text-align: center;
}

.alert .close:hover {
  background-color: #ffffff;
  border-radius: 50%;
  color: var(--page-paragraph-txtColor);
  width: 25px;
}

/* Form Styling */

/* top of the client form */
.form_top {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 70px;
  margin-top: 20px;
  padding-bottom: 5px;
}

.form_top label {
  font-size: 14pt;
}

.form_top select {
  box-sizing: border-box;
  font-size: 15px;
  border-radius: 10px;
  font: inherit;
  line-height: inherit;
  /* appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  /* background: #e2ecf7; */
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.form_top select:hover {
  background: #e2ecf7;
  cursor: pointer;
}

.form_top select option {
  border: 1px solid #000;
  background: rgba(188, 195, 235, 0.267);
  cursor: pointer;
}

.container {
  margin: 5px 70px;
  background-color: #c3d7e7;
  overflow: hidden;
  display: block;
  height: 100%;
  max-width: 90%;
}

/* Capture/camera styling */
.container .row {
  display: flex;
  margin-left: 20px;
  padding: 0px 5px;
}

.container .row input {
  background-color: #ec1848;
  padding: 5px;
  color: white;
  margin: 0 0 20px 50px;
  /* margin-left: 50px; */
  cursor: pointer;
}
.container .captured-img {
  margin-left: 455px;
  margin-top: 20px;
}

.container form {
  width: 95.5%;
  /* margin: 1.5%; */
  margin: 0 auto;
  font-weight: 600;
  font-family: monospace;
}

.container form label {
  font-size: 14pt;
  /* margin-left: 7px; */
}

.container form input,
textarea {
  width: 100%;
  height: 40px;
  padding: 1%;
  border: none;
  font-weight: 600;
  margin: 3px auto;
  margin-bottom: 10px;
  background-color: #fff;
  transition: 0.2s ease-in;
  color: #000;
}

.container form textarea:focus {
  border: none;
  outline: none;
  border-left: 7px solid var(--page-sideSelectedMenu-active);
}

.container form input:focus {
  outline: none;
  border: none;
  border-left: 7px solid var(--page-sideSelectedMenu-active);
}
/* .container form .radio_label {
} */

.container form .radio_options {
  width: 300px;
  margin: 5px;
}
.container form .radio {
  margin: 0px;
  padding: 0px;
  width: 10%;
  height: auto;
  outline: none;
  background-color: var(--page-sideSelectedMenu-active);
}

.container form .radio:focus {
  outline: none;
  border: none;
  color: var(--page-sideSelectedMenu-active);
}

/* program types and course types styling */

form .formGroup .programTypeselection,
.courseTypeselection {
  display: block;
  width: 100%;
  height: 40px;
  font-weight: 600;
  font-size: 12pt;
  font-family: sans-serif;
  line-height: 1.3;
  margin: 0;
  border: 1px solid #aaa;
  box-sizing: border-box;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  background-color: #fff;
  color: #444;
  cursor: pointer;
}

form .formGroup option {
  background: rgb(174, 203, 230);
  color: #000;
  text-transform: uppercase;
}

.container form button {
  background-color: var(--page-sideSelectedMenu-active);
  border: none;
  width: 300px;
  text-transform: capitalize;
  font-weight: 600;
  padding: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-top: 1%;
  float: right;
  margin-bottom: 1%;
  cursor: pointer;
}
.container form button:hover {
  border: 1px solid #ffffff;
}

/* attended to form  */

.attended_timeout_form {
  background-color: var(--page-paragraph-txtColor);
  color: #ffffff;
  padding: 28px 30px 28px 30px;
  border: none;
  position: fixed;
  z-index: 5;
  top: 35%;
  left: 30%;
  right: 30%;
  border-radius: 7px;
  max-width: 450px;
  display: none;
}

.attended_timeout_form #search_visitor {
  width: 75%;
  border: none;
  border-left: 10px solid var(--page-sideSelectedMenu-active);
  background-color: #ffffff;
  padding: 7px 20px 7px 20px;
  border-radius: 2px;
  outline: none;
  color: #1d2636;
  margin-right: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.attended_timeout_form .btn_float {
  border: none;
  width: 25%;
  padding: 7px 20px 7px 20px;
  border-radius: 20px;
  background-color: var(--page-sideSelectedMenu-active);
  color: #ffffff;
  text-transform: capitalize;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-weight: 600;
  margin-left: -7px;
  cursor: pointer;
}

.attended_timeout_form span {
  background-color: var(--page-sideSelectedMenu-active);
  color: #1d2636;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-radius: 100%;
  font-weight: 700;
  position: absolute;
  z-index: 7;
  top: -7%;
  right: -2.5%;
  cursor: pointer;
}

.attended_timeout_form form {
  margin: 0px auto;
}
.attended_timeout_form form input {
  margin-bottom: 3.5%;
}

.attended_timeout_form form .radio {
  margin-right: 10px;
}
.attended_timeout_form form label {
  margin-right: 10px;
}

.btn_update {
  border: none;
  padding: 5px;
  border-radius: 15px;
  background-color: var(--page-sideSelectedMenu-active);
  color: #ffffff;
  padding: 7px 25px 7px 25px;
  text-transform: capitalize;
  font-weight: 600;
  float: right;
  cursor: pointer;
}

.btn_update:focus {
  outline: none;
  border: none;
}

.attended_timeout_form form .timeout {
  width: 100%;
  padding: 5px 20px 5px 20px;
  outline: none;
  border-radius: 3px;
  border: none;
  margin-top: 10px;
  border-left: 10px solid #92cf48;
}

#update_visitor_entry {
  background-color: var(--page-paragraph-txtColor);
  color: #ffffff;
  font-family: monospace;
  border: none;
  padding: 7px 20px 7px 20px;
  position: absolute;
  outline: none;
  top: 13%;
  left: 50%;
  cursor: pointer;
  border-radius: 15px;
}

#update_visitor_entry:focus {
  outline: none;
}
/* attended to form  */

/* form validation error */
.error {
  color: red;
  font-size: 90%;
}
