body {
  background-color: skyblue;
  widows: 100%;
  height: 100%;
  background-image: url(./img/Riv-tech.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  padding: 70px 0;
  text-align: center;
  margin: 0 auto;
  width: 70%;
  border: none;
}
.container .navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 50%;
  margin: 0 auto;
}
.container .navbar .navs {
  background-color: #ffffff;
  border: none;
}
.container .navbar #button {
  width: 80px;
  height: 70px;
  border-radius: 5pt;
  font-size: 100%;
  font-weight: normal;
  font-family: "Alef", sans-serif;
  color: #c8d0d8;
  margin-right: 5px;
}

.container .navbar #button:hover {
  color: white;
  background-color: black;
}
.container .navbar #faq {
  border-radius: 50%;
  font-family: "Alef", sans-serif;
  font-size: 100%;
  font-weight: normal;
  color: #c8d0d8;
  width: 70px;
  margin-left: 5px;
}

.container .navbar #faq:hover {
  color: white;
  background-color: black;
}
.container .navbar #search {
  width: 300px;
  height: 45px;
  margin-top: 3%;
  padding-left: 10px;
  border-radius: 1pt;
}
input:focus::placeholder {
  color: transparent;
}

.container .textContent {
  text-align: center;
  padding: 0 0 10px;
  width: 100%;
}
.container .textContent .titleText {
  margin: 0 auto;
  background-color: #9eb8cd;
  width: 50%;
  border: 5px solid #ffffff;
}
.container .textContent .titleText h1 {
  color: #ffffff;
  font-size: 150%;
  font-family: "GlacialIndifferenceRegular";
}
.container .textContent .titleText h3 {
  background-color: #ffffff;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 1pt;
  font-size: 72%;
  color: #53af9e;
  font-family: "GlacialIndifferenceRegular", Arial, sans-serif;
}
